{% extends 'back/back_base.html.twig' %}

{% block title %}Pages{% endblock %}

{% block body %}
    <h1 class="h3 mb-0 text-gray-800">{{ page.title}}</h1>
</div>
<div style="display:flex;justify-content:space-between;">
 <a class="btn btn-secondary btn-icon-split mb-4"  href="{{ path('app_back_pages_index') }}">    <span class="icon text-white-50">
            <i class="fas fa-arrow-right"></i>
        </span>
        <span class="text">Retour à la liste</span>
    </a>
      </div>
        <div class="card shadow mb-4">
   <div class="card-body">
    <table class="table">
        <tbody>
            <tr>
                <th>Titre</th>
                <td>{{ page.subtitle }}</td>
            </tr>
            <tr>
                <th>Contenu</th>
                <td>{{ page.content|raw }}</td>
            </tr>
            <tr>
                <th>Dernière mise à jour</th>
                <td>{{ page.updatedAt ? page.updatedAt|date('d/m/Y H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>
</div>
</div>
<h2 class="h3 mb-0 text-gray-800">Historique des mouvements de la page</h2>
<div class="card shadow mb-4">

                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>Nom</th>
                                            <th>Action</th>
                                            <th>Date</th>
                                        </tr>
                                    </thead>
                                       
                                    <tbody>
                                    {% for historic in historical %}
                                     <tr>
                                            <td>{{ historic.user.firstname }} {{ historic.user.lastname }}</td>
                                            <td>{{ historic.name }}</td>
                                            <td>{{ historic.createdAt ? historic.createdAt|date('d/m/Y H:i:s') : ''}}</td>
    
                                        </tr>
                                        {% endfor %}
                                    </tbody>                                </table>
                            </div>
                        </div>
                    </div>        
    <a href="{{ path('app_back_pages_edit', {'id': page.id}) }}"class="btn btn-warning btn-icon-split mb-3">
                                        <span class="icon text-white-50">
                                           <i class="fas fa-arrow-right"></i>
                                        </span>
                                        <span class="text">Editer</span>
                                    </a>

{% endblock %}
