{% extends 'back/back_base.html.twig' %}

{% block title %}Mail{% endblock %}

{% block body %}
    <h1 class="h3 mb-0 text-gray-800">Message de {{ mail.name }}</h1>
</div>
<div style="display:flex;justify-content:space-between;">
<a class="btn btn-secondary btn-icon-split mb-4" href="{{ path('app_back_mail_index') }}"><span class="icon text-white-50">
            <i class="fas fa-arrow-right"></i>
        </span>
        <span class="text">Retour à la liste</span>
    </a>
    </div>
     <div class="card shadow mb-4">
   <div class="card-body">
    <table class="table">
        <tbody>
            
            <tr>
                <th>Adresse email</th>
                <td>{{ mail.address }}</td>
            </tr>
            <tr>
                <th>Content</th>
                <td>{{ mail.content }}</td>
            </tr>
            <tr>
                <th>Envoyé le</th>
                <td>{{ mail.createdAt ? mail.createdAt|date('d/m/Y H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>
</div>
</div>

    {{ include('back/mail/_delete_form.html.twig') }}
{% endblock %}
